body {
    background-color: rgb(79, 139, 139);
    margin: 0;
    padding: 0;
}

.actividad {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(2, 2, 2);
    text-align: center;
}

#res {
    margin-left: 34%;
    font-weight: bold;
    color: rgb(2,2,2);
}
.form {
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    margin-top: 100px;
    justify-content: center;
    align-content: center;
    background-color: #c1cce8;
    margin-left: 10%; /* Ajuste para dispositivos móviles */
    margin-right: 10%; /* Ajuste para dispositivos móviles */
    box-shadow: 8px 10px 10px black;
    border-radius: 10px;
}

#boton {
    background-color: rgb(39, 101, 122);
    color: white;
    border-radius: 20px;
    border: 3px solid white;
    margin-left: 47%; /* Alinea el botón a la derecha en dispositivos móviles */
    margin-right: 10%; /* Alinea el botón a la derecha en dispositivos móviles */
    cursor: pointer;
}

.n1, .n2, .n3 {
    margin-left: 38%; /* Ajuste para dispositivos móviles */
    margin-right: 10%; /* Ajuste para dispositivos móviles */
}

/* Consulta de medios para dispositivos con un ancho máximo de 768px */
@media (max-width: 768px) {
    .form {
        margin-left: 5%; /* Ajuste adicional para dispositivos móviles */
        margin-right: 5%; /* Ajuste adicional para dispositivos móviles */
    }

    #boton {
        margin-left: 40%; /* Ajuste adicional para dispositivos móviles */
        margin-right: 5%; /* Ajuste adicional para dispositivos móviles */
    }

    .n1, .n2, .n3 {
        margin-left: 15%; /* Ajuste adicional para dispositivos móviles */
        margin-right: 5%; /* Ajuste adicional para dispositivos móviles */
    }
    #res {
        margin-top: 25px; /* Ajusta el margen superior en dispositivos móviles */
        text-align: center; /* Centra el texto en dispositivos móviles */
        margin-left: 0; /* Elimina el margen izquierdo en dispositivos móviles */
        margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
    }
 }







